// COLORS
$color-primary: #6a6f71;
$color-primary-light: #931116;
$color-primary-dark: #4186ba;
$color-primary-bg: #e6e6e6;
$color-light-bg: rgba(39, 64, 72, 1);

$color-secondary-light: #ffb900;
$color-secondary-dark: #141b40;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #ebebeb;

$color-grey-dark: #707070;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #6a6f71;

// FONT
$default-font-size: 1.6rem;
$default-font-family: "garamond-premier-pro", sans-serif;
$default-font-heading: "garamond-premier-pro", sans-serif;
$alt-font-family: "Poppins", sans-serif;
$alt-font-heading: "Cormorant Garamond", serif;

// GRID
$grid-width: 120rem;
$gutter-vertical: 4rem;
$gutter-vertical-small: 2rem;
$gutter-horizontal: 4rem;
$gutter-horizontal-small: 2rem;

$fastEffect: all 0.5s ease-in-out;
$slowEffect: all 1s ease-in-out;
