*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  scroll-behavior: smooth;

  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }
}

body {
  box-sizing: border-box;

  @include respond(tab-port) {
    padding: 0;
  }
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}
main {
  z-index: 2;
  position: relative;
  transition: transform 0.7s ease-in-out;
  background-color: $color-primary-bg;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
#content {
  flex: 1;
}
a {
  color: $color-primary;
  font-weight: 400;
  text-decoration: none; /* no underline */
}
.no-mob {
  @include respond(tab-land) {
    display: none;
  }
}