.row {
  max-width: $grid-width;
  margin: 0 auto;


  @include clearfix;

  [class^="col-"] {
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }

    @include respond(tab-port) {
      width: 100% !important;
    }
  }
  &.row-extended {
    width: 100%;
  }
  .push-right {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  
}
section {
  padding: 5rem 0;
  // background: $color-primary-bg;
  // &:first-of-type {
  //   padding-top: 0;
  // }
  &.alt-bg {
    background: #f5f4f4;
    padding: 10rem 0;
  }
}
#content {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

@media (min-width: 56.25rem) {
  div,
  section,
  footer {
    .w40 {
      width: calc(#{$grid-width} * 0.4);
      margin: 0 auto;
    }
    .w50 {
      width: calc(#{$grid-width} * 0.5);
      margin: 0 auto;
    }
    .w60 {
      width: calc(#{$grid-width} * 0.6);
      margin: 0 auto;
    }
    .w70 {
      width: calc(#{$grid-width} * 0.7);
      margin: 0 auto;
    }
    .w80 {
      width: calc(#{$grid-width} * 0.8);
      margin: 0 auto;
    }
    .w90 {
      width: calc(#{$grid-width} * 0.9);
      margin: 0 auto;
    }
  }
}
.grid-layout2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
  grid-gap: $gutter-horizontal;
}
.grid-layout3 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  grid-gap: $gutter-horizontal;
}
.grid-layout4 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: $gutter-horizontal;
}
.flex-col {
  display: flex;
  grid-gap: 2rem;
  @include respond(port) {
    flex-wrap: wrap;
  }
  .flex-items {
    flex: 1;
    @include respond(desk) {
      flex-basis: 30%;
    }
  }
}
