.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $color-white;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
    text-align: center;
    cursor: pointer;

    @include respond(tab-port) {
      top: 4rem;
      right: 4rem;
    }

    @include respond(phone) {
      top: 3rem;
      right: 3rem;
    }
  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);

    @include respond(tab-port) {
      top: 4.5rem;
      right: 4.5rem;
    }

    @include respond(phone) {
      top: 3.5rem;
      right: 3.5rem;
    }
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;

    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
      background-size: 220%;
      transition: all 0.4s;

      span {
        margin-right: 1.5rem;
        display: inline-block;
      }
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }
  }

  //FUNCTIONALITY
  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }

  //ICON
  &__icon {
    position: relative;
    margin-top: 3.5rem;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color-grey-dark-3;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}

.top-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  justify-content: space-between;
}

.top-navbar {
  display: inline-flex;
  position: relative;
  ul {
    list-style: none;
    display: flex;
  }
  .nav-area {
    display: flex;
  }
}

.top-navbar::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  border-radius: 100%;
  bottom: 0px;
  //   box-shadow: 0 40px 20px 3px rgba(0, 0, 0, 0.13);
  transform: scaleX(1.05);
}
.top-navbar {
  .logo {
    svg {
      height: 3rem;
    }
    a {
      display: flex;
    }
  }
  .nav-area {
    justify-content: flex-end;
  }
  .slash {
    padding: 0 3rem;
  }
  .cust-switch {
    li {
      padding: 0 3rem;
      text-transform: uppercase;
      font-weight: 400;
    }
    a {
      color: $color-light-bg;
    }
  }
  .menu {
    li {
      padding: 0 3rem;
      text-transform: uppercase;
      a {
        color: $color-light-bg;
        font-weight: 200;
        font-size: 1.3rem;
        &::after {
          content: "";
          display: block;
          height: 2px;
          background: $color-primary;
          width: 0;
          transition: all 0.2s ease-in-out;
        }
        &:hover::after {
          width: 100%;
        }
      }
    }
  }
  .header-menu {
    padding: 0;

    text-align: center;

    ul {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 1rem;

      li {
        display: inline-block;
        &.menu-logo a {
          // border: 1px solid $color-white;
          padding: 0rem 4rem;
          font-size: 2.5rem;
          letter-spacing: 0.3rem;
        }
        a {
          text-decoration: none;
          color: #fff;
          display: block;
          // border-bottom: 3px solid rgba(255, 255, 255, 0);
          transition: ease-out 0.25s;
          text-transform: uppercase;
          font-size: 1.5rem;
          letter-spacing: 0.15rem;
          font-weight: 200;
          &::after {
            content: "";
            display: block;
            height: 2px;
            background: $color-primary;
            width: 0;
            transition: all 0.3s ease-in-out;
          }
          &:hover::after {
            width: 100%;
          }
        }
        &.current-menu-item a {
          // border-bottom: 3px solid $color-primary;
          &:after {
            content: "";
            display: block;
            height: 2px;
            background: $color-primary;
            width: 100%;
          }
        }
        &.menu-logo.current-menu-item a,
        &.menu-logo a {
          &::after {
            content: none;
          }
        }
      }
    }
  }
  @include respond(tab-port) {
    display: none;
  }
}

.top-navbar {
  position: sticky;
  top: 3rem;
  z-index: 99;
  transition: all 1.5s ease 0s;
}
.scrolled .top-navbar {
  top: 1rem;
  background: rgba(255, 255, 255, 0.8);
}
.top-navbar.visible-scroll-up {
  transform: translate3d(0px, 100%, 0px);
  -webkit-transform: translate3d(0px, 100%, 0px);
  -moz-transform: translate3d(0px, 100%, 0px);
  -ms-transform: translate3d(0px, 100%, 0px);
  -o-transform: translate3d(0px, 100%, 0px);
}
.top-navbar.fixed-menu {
  top: -55px;
  transition: transform 1.5s ease 0s;
  -webkit-transition: transform 0.3s ease 0s;
  -moz-transition: transform 0.3s ease 0s;
  -ms-transition: transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
}
.stick-top {
  position: sticky;
  top: 0;
  z-index: 1;
}
